.vs
.vscode
/build/
node_modules/
usergenerate.bat
nul
.clangd
/**/*.gdb
/**/*.gscc
/**/*.gscasm
/**/*.cscc
/**/*.cscasm
/**/*.luac

2-envoyer.bat
1-installer-git.bat

2-envoyer.bat
1-installer-git.bat
publication.log
finalisation.log
restauration.log
Claude outputs/
